<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Unique Sequence Identifier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Identify unique protein and DNA sequences">
    <meta name="author" content="Andrew Matteson">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!-- <a class="brand" href="#">Sequence Picker</a> -->
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Unique Sequences</a></li>
              <li class="active"><a href="/export">ABI Export</a></li>
              <li class="active"><a href="/align">Align Sequences</a></li>
              <li class="active"><a href="/trouble">Trouble Shooting</a></li>
           </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      <h2>So the site's not working.  Sorry about that.<br> I do have some suggestions though.</h2>
      <br>
      <ol>
       <h3><li>Are you using a modern browser?</h3> <br> <h4>The site's  been tested with Chrome version 21 and Firefox version 14.  The site definitely doesn't support Internet Explorer.</h4>
       <br>
       <h3><li>Are you using fasta formatted files for unique sequence identification and alignment?</h3> <br> <h4> At the moment this is the only completely supported filetypes.  Get in touch with Andrew if fasta files are not working.</h4>
       <br>
       <h3><li>Are you using ABI files or a zipped directory of ABI files (and only ABI files) for exporting?</li></h3>
     </ol>


</div>

      <!--<hr class="">-->

      <footer>
        <p>&copy; Andrew Matteson, New York University, Merrimack Pharmaceuticals 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

<script type="text/javascript">
$('input[id=lefile]').change(function() {
   $('#photoCover').val($(this).val());
}); 
</script>


  </body>
</html>
